<div class='wrapper_with_padding'>
  <div class='clearfix' id='notes'>
    <%unless @notes.blank?%>
      <%@notes.each do |note|%>
        <%= link_to  note.titulo, note %>

        <a href="<%=(url_for [note])%>">
        <div class='note'>
          <p class='title'><%=note.titulo %></p>
          <p class='date'><%=note.user.nil? ? 'Anonimo' :  (note.user.email == current_user.email ? 'Tu' : note.user.email)%></p>
        </div>
        </a>
      <%end%>
    <%else%>
      <h2>Agregar Nota</h2>
      <p>
        Parece que no hay notas ... deberias de crear una
      </p>
      <button type="button" name="button"><%= link_to "Nueva Nota", new_note_path %></button>
    <%end%>
  </div>
</div>
