
<h1><%=@note.titulo%></h1>
<p><%=@note.contenido%></p>
<span><%= @note.privado%></span>
<%=link_to "Todas las Notas", notes_path%>
<%=link_to "Editar", edit_note_path(@note)%>
<%=link_to "Borrar", note_path(@note),method: :delete, data: {confirm: "Confirmar?"}%>
