<!DOCTYPE html>
<html>

<head>
  <title>NotasApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class='header_inner'><nav>
      <%if user_signed_in? %>
          <%=link_to "Nueva nota", new_note_path%>
					<%=link_to "Salir", destroy_user_session_path, method: :delete%>
      <%else%>
          <%=link_to "Iniciar sesión", new_user_session_path%>
      <%end%>
    </nav></div>
  </header>
  <p class="notice">
    <% if notice %>
    ok noticia
    <%end%>

  </p>
  <p class="alert">
    <% if alert %>
    ok Alerta
    <%end%>
  </p>
  <%= yield %>

</body>

</html>
